{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="container">
    <div class="login form">
      <header>로그인</header>
      <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Enter your email" name="email">
        <input type="password" placeholder="Enter your password" name="password">
        <input type="submit" class="button" value="로그인">
        <center>
          {% if success %}
          <p style="color: green;"><b>{{ success }}</b></p>
          {% endif %}
          {% if error %}
          <p style="color: red;">{{ error }}</p>
          {% endif %}
        </center>
      </form>
      <div class="signup">
        <span class="signup">회원가입을 안하셨나요?
         <a href="{% url 'register' %}"><label for="check">회원가입</label></a>
        </span>
      </div>
    </div>
  </div>
</body>
</html>